:root {
    --primary-color: #7c4ee4;
    --heading-color: #333333;
    --text-color: #666666;
    --light-color: #999999;
    --contrast-color: #ffffff;

    --font1: "Raleway", sans-serif;
    --font2: "Roboto", sans-serif;
}
