@mixin hover-active {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (pointer: coarse) {
        &:active {
            @content;
        }
    }
}

@mixin mask(
    $url,
    $position: center,
    $size: contain,
    $repeat: no-repeat,
    $color: currentColor
) {
    mask-image: url($url);
    mask-position: $position;
    mask-size: $size;
    mask-repeat: $repeat;
    background-color: $color;
}

@mixin background(
    $url,
    $position: center,
    $size: contain,
    $repeat: no-repeat,
    $color: null
) {
    background-image: url($url);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
    background-color: $color;
}
