@use "mixins" as *;
@use "variables" as *;

%contain-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

%cover-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%cursor-pointer {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

%link {
    transition-duration: var(--duration);
    transition-property: color;

    @include hover-active {
        color: var(--highlight-color);
    }
}
