@use "@styles/abstracts" as *;

.footer {
    overflow: hidden;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    border-bottom: 0.1rem solid var(--highlight-color);
    padding-block: 5.1rem 3.9rem;

    @media (width < $desktop) {
        gap: 2.9rem;
        padding-block: 3.7rem 2.8rem;
    }
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.2rem;

    @media (width < $desktop) {
        gap: 2.5rem;
    }
}

.footer__link {
    padding: 0.6rem;
    text-transform: capitalize;
    @extend %link;
}

.footer__social-media {
    display: flex;
    gap: 1.6rem;

    @media (width < $desktop) {
        gap: 1.2rem;
    }
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
    border-radius: 50%;
    background-color: var(--highlight-color);
    width: 4rem;
    height: 4rem;
    color: var(--white-color);
    font-weight: 700;

    @include hover-active {
        background-color: var(--heading-color);
    }

    @media (width < $desktop) {
        width: 2.9rem;
        height: 2.9rem;
    }

    span {
        user-select: none;
    }
}

.footer__bottom {
    padding-block: 4rem 5.4rem;

    @media (width < $desktop) {
        padding-block: 2.8rem 4rem;
    }
}

.footer__text {
    text-align: center;
}
