@use "@styles/abstracts" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;

    @media (width < $tablet) {
        transition-delay: var(--duration);
        min-height: 0;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            transition: var(--duration);
            background-color: rgba(1, 1, 1, 0.4);
            width: 100%;
            height: 100%;
            content: "";
        }

        &:has(.header__nav_open) {
            transition-delay: 0s;
            min-height: 100%;

            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.header__inner {
    background-color: var(--white-color);
    padding-block: 1.9rem;
    overflow: hidden;

    @media (width < $desktop) {
        padding-block: 1.3rem;
    }

    @media (width < $tablet) {
        padding-block: 2rem;
    }
}

.header__container {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    @media (width < $tablet) {
        display: grid;
        grid-template-rows: 0fr;
        order: 1;
        visibility: hidden;
        transition-duration: var(--duration);
        transition-property: grid-template-rows, visibility;
        width: 100%;
    }
}

.header__nav_open {
    grid-template-rows: 1fr;
    visibility: visible;
}

.header__nav-inner {
    display: flex;
    align-items: center;
    gap: 2.7rem;

    @media (width < $desktop) {
        gap: 1.3rem;
    }

    @media (width < $tablet) {
        flex-direction: column;
        transition: var(--duration);
        overflow: hidden;
    }

    .header__nav_open & {
        padding-top: 2rem;
    }
}

.header__list {
    display: flex;
    gap: 4.3rem;

    @media (width < $desktop) {
        gap: 2.8rem;
    }
}

.header__link {
    padding: 0.7rem;
    font-weight: 500;
    @extend %link;

    &[aria-current="page"] {
        color: var(--highlight-color);
    }

    @media (width < $desktop) {
        padding: 0.6rem;
    }
}

.header__contact-link {
    padding: 1.5rem 4.7rem;
    font-weight: 600;
    font-size: inherit;
    font-family: inherit;

    @media (width < $desktop) {
        padding: 0.9rem 3.2rem;
        font-size: 1.2rem;
        line-height: 1.7;
    }
}

.header__search-form {
    display: flex;
    align-items: center;
}

.header__field-wrapper {
    position: relative;
    transition-duration: var(--duration);
    transition-property: visibility, margin-right, max-width;
    overflow: hidden;

    @media (width >= $tablet) {
        visibility: hidden;
        max-width: 0;

        &:has(+ .header__search-button_active) {
            visibility: visible;
            margin-right: 1rem;
            max-width: 20rem;
        }
    }

    @media (width < $tablet) {
        margin-right: 0.5rem;
    }
}

.header__field {
    border: 0.1rem solid var(--highlight-color);
    border-radius: 2rem;
    padding: 0.5rem 4rem 0.5rem 1rem;
    width: 100%;
    height: 3.5rem;
    font-weight: 500;
}

.header__clear-button {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;

    &:active {
        background-color: #7c4ee44d;
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 0.1rem;
        background-color: var(--heading-color);
        width: 0.2rem;
        height: 1.5rem;
        content: "";
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.header__search-button {
    transition: var(--duration) border-color;
    border: 0.1rem solid transparent;
    border-radius: 50%;

    &::before {
        display: block;
        transition: var(--duration) background-color;
        width: 3.8rem;
        height: 3.8rem;
        content: "";
        @include mask(
            $url:
                "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi44NjQgMi43NDI4NUMyMC43OTE3IDYuNDY5ODEgMjEuMDM0OCAxMi42NDc2IDE3LjQxMjEgMTYuNjcxNkwyMS45MTcyIDIxLjE2MTlDMjIuMTE1NyAyMS4zNjczIDIyLjExMjggMjEuNjkzOSAyMS45MTA4IDIxLjg5NTlDMjEuNzA4OSAyMi4wOTc5IDIxLjM4MjMgMjIuMTAwNyAyMS4xNzY4IDIxLjkwMjNMMTYuNjcxNiAxNy40MTIxQzEyLjY0NzYgMjEuMDM0OCA2LjQ2OTgxIDIwLjc5MTcgMi43NDI4NSAxNi44NjRDLTAuOTg0MTE0IDEyLjkzNjMgLTAuOTAzMDYzIDYuNzU0MjQgMi45MjU1OSAyLjkyNTU5QzYuNzU0MjQgLTAuOTAzMDYzIDEyLjkzNjMgLTAuOTg0MTE0IDE2Ljg2NCAyLjc0Mjg1Wk0xLjEyNSAxMC4wMjhDMS4xMjUgMTQuOTQ0NCA1LjExMDQ4IDE4LjkyOTkgMTAuMDI2OCAxOC45Mjk5QzE0Ljk0MDggMTguOTI0MSAxOC45MjI5IDE0Ljk0MiAxOC45Mjg2IDEwLjAyOEMxOC45Mjg2IDUuMTExNyAxNC45NDMyIDEuMTI2MjIgMTAuMDI2OCAxLjEyNjIyQzUuMTEwNDggMS4xMjYyMiAxLjEyNSA1LjExMTcgMS4xMjUgMTAuMDI4WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K",
            $size: 2.3rem
        );

        @media (width < $desktop) {
            mask-size: 1.6rem;
        }

        @media (width < $tablet) {
            width: 3.3rem;
            height: 3.3rem;
        }
    }

    @include hover-active {
        border-color: var(--highlight-color);

        &::before {
            background-color: var(--highlight-color);
        }
    }
}

.header__search-button_active::before {
    background-color: var(--highlight-color);
}

.header__menu-button {
    width: 3.4rem;
    height: 3.4rem;
}

.header__menu-icon {
    @extend %contain-media;

    path,
    circle {
        transform-origin: center;
        transition: 0.5s;
        stroke: var(--heading-color);
    }

    path:nth-child(2) {
        stroke-dasharray: 16;
    }

    circle {
        transform: rotate(60deg);
        stroke-dasharray: 92;
    }

    .header__menu-button[aria-expanded="true"] & {
        path,
        circle {
            stroke: var(--highlight-color);
        }

        path:nth-child(1) {
            transform: rotate(-45deg) translateY(0.6rem);
        }

        path:nth-child(2) {
            transform: translateX(0.9rem);
            stroke-dashoffset: 16;
        }

        path:nth-child(3) {
            transform: rotate(45deg) translateY(-0.6rem);
        }

        circle {
            stroke-dasharray: 99;
            stroke-dashoffset: 99;
        }
    }
}
