@use "abstracts" as *;

html {
    min-width: 30rem;
    color: var(--heading-color);
    font-weight: 400;
    font-size: 62.5%;
    font-family: var(--raleway-font);

    @media (1200px > width >= $desktop) {
        font-size: calc(100dvw / 1200 * 10);
    }
}

body {
    font-size: 1.6rem;

    @media (width < $desktop) {
        font-size: 1.2rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

input {
    text-overflow: ellipsis;
}

::placeholder {
    color: var(--light-color);
}
