@use "abstracts" as *;

html {
    background-color: var(--almost-white-color);
    min-width: 30rem;
    color: var(--heading-color);
    font-weight: 400;
    font-size: 62.5%;
    font-family: var(--raleway-font);

    @media (1200px > width >= $desktop) {
        font-size: calc(100dvw / 1200 * 10);
    }
}

body {
    font-size: 1.6rem;

    @media (width < $desktop) {
        font-size: 1.1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-variant-numeric: lining-nums;
}

p a {
    text-decoration: underline;
}

blockquote p {
    margin-bottom: 0.8rem;
    border-left: 0.5rem solid var(--highlight-color);
    padding: 1.1rem 2rem;
    color: var(--text-color);
    font-style: italic;
    font-size: 2.4rem;
    line-height: 1.7;

    @media (width < $desktop) {
        margin-bottom: 0.6rem;
        border-width: 0.4rem;
        padding: 1rem 1.7rem;
        font-size: 2rem;
        word-spacing: 2.3%;
    }

    @media (width < $phablet) {
        margin-bottom: 0.1rem;
        border-width: 0.2rem;
        padding-inline: 0.7rem;
        line-height: 1.68;
    }

    &::before {
        content: "“";
    }

    &::after {
        content: "”";
    }
}

cite {
    margin-left: 2.6rem;
    font-style: normal;
    font-weight: 500;
    font-family: var(--roboto-font);

    @media (width < $desktop) {
        margin-left: 2.2rem;
        font-size: 1.3rem;
        letter-spacing: 1.6%;
    }

    @media (width < $tablet) {
        margin-left: 0.9rem;
        letter-spacing: 2%;
    }
}

input {
    font-weight: 500;
    text-overflow: ellipsis;
}

::placeholder {
    color: var(--light-color);
    font-weight: 400;
}
