@font-face {
    font-weight: 400;
    src: url(../assets/fonts/Raleway-Regular.woff2);
    font-family: "Raleway";
}

@font-face {
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/Raleway-Italic.woff2);
    font-family: "Raleway";
}

@font-face {
    font-weight: 500;
    src: url(../assets/fonts/Raleway-Medium.woff2);
    font-family: "Raleway";
}

@font-face {
    font-weight: 600;
    src: url(../assets/fonts/Raleway-SemiBold.woff2);
    font-family: "Raleway";
}

@font-face {
    font-weight: 700;
    src: url(../assets/fonts/Raleway-Bold.woff2);
    font-family: "Raleway";
}

@font-face {
    font-weight: 800;
    src: url(../assets/fonts/Raleway-ExtraBold.woff2);
    font-family: "Raleway";
}

@font-face {
    font-weight: 400;
    src: url(../assets/fonts/Roboto-Regular.woff2);
    font-family: "Roboto";
}

@font-face {
    font-weight: 500;
    src: url(../assets/fonts/Roboto-Medium.woff2);
    font-family: "Roboto";
}

@font-face {
    font-weight: 700;
    src: url(../assets/fonts/Roboto-Bold.woff2);
    font-family: "Roboto";
}
