@use "abstracts" as *;

.page-layout_non-scrollable {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    min-height: inherit;
}

.main {
    flex-grow: 1;

    &:has(> .loading) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100dvh - var(--header-height));
    }
}

.section {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 2.4rem;
    max-width: 128rem;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.3rem 1.6rem;

    @media (width < $desktop) {
        gap: 3.6rem 1.1rem;
    }

    @media (width < $tablet) {
        grid-template-columns: none;
        gap: 4.4rem;
    }
}
