@use "abstracts" as *;

.wrapper {
    padding-top: var(--header-height);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 127.2rem;

    @media (width < $tablet) {
        padding: 0 2.4rem;
    }
}
