@use "./helpers/abstracts.scss" as *;

html {
    // font-size: calc(100vw / 1920 * 10);

    font-size: 10px;
}

html,
body {
    height: 100%;
    color: var(--heading-color);
    font-weight: 700;
    font-family: var(--font1), sans-serif;
}

body {
    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex-grow: 1;
}

section {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    max-width: 123.2rem;
}
