:root {
    --highlight-color: #7c4ee4;
    --heading-color: #333333;
    --text-color: #666666;
    --light-color: #999999;
    --page-bg-color: #fafafa;
    --white-color: white;

    --raleway-font: "Raleway", sans-serif;
    --roboto-font: "Roboto", sans-serif;

    --duration: 0.3s;
}
