@use "abstracts" as *;

.xxl-title {
    font-size: 6.4rem;
    line-height: 1.35;

    @media (width < $desktop) {
        font-size: 4.6rem;
    }

    @media (width < $tablet) {
        font-size: 3.6rem;
        line-height: 1.12;
    }
}

.xl-title {
    font-size: 5.2rem;

    @media (width < $desktop) {
        font-size: 3.7rem;
    }

    @media (width < $tablet) {
        font-size: 2.4rem;
    }
}

.lg-title {
    font-size: 4.8rem;

    @media (width < $desktop) {
        font-size: 3.4rem;
    }

    @media (width < $tablet) {
        font-size: 2rem;
    }
}

.md-title {
    font-size: 3.2rem;
    line-height: 1.45;

    @media (width < $desktop) {
        font-size: 2.3rem;
    }

    @media (width < $tablet) {
        line-height: 1.05;
    }
}

.sm-title {
    font-style: 2.4rem;

    @media (width < $tablet) {
        font-size: 1.7rem;
    }
}
