@use "abstracts" as *;

.xxl-title {
    font-size: 6.4rem;
}

.xl-title {
    font-size: 5.2rem;
}

.lg-title {
    font-size: 4.8rem;
}

.md-title {
    font-size: 3.2rem;
}

.sm-title {
    font-style: 2.4rem;
}
