@use "@styles/abstracts" as *;

.popular-post {
    padding: 4.9rem 0 19.4rem;

    @media (width < $desktop) {
        padding: 4rem 0 14.8rem;
    }

    @media (width < $tablet) {
        padding: 2.7rem 0 9.5rem;
    }
}

.popular-post__header {
    margin-bottom: 5.1rem;

    @media (width < $desktop) {
        margin-bottom: 3.6rem;
    }

    @media (width < $tablet) {
        margin-bottom: 4.5rem;
    }
}
